
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Đăng ký tài khoản</div>
            <div class="card-body">
                <form action="/User/DangKy" method="post">
                    <div class="form-group">
                        <label>Tên tài khoản</label>
                        <input class="form-control" name="TaiKhoanUser" placeholder="Tài khoản" required>
                    </div>
                    <div class="form-group">
                        <label>Họ tên người dùng</label>
                        <input class="form-control" name="HoTenUser" placeholder="Họ tên" required>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Mật khẩu</label>
                                <input class="form-control" name="MatKhauUser" type="password" placeholder="Mật khẩu" required>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Nhập lại mật khẩu</label>
                                <input class="form-control" name="NhapLaiMatKhau" type="password" placeholder="Nhập lại mật khẩu" required>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.Thongbao != null)
    {
                <div class="alert-success">
                    @ViewBag.Thongbao
                </div>
}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input class="form-control" name="Email" type="email" aria-describedby="emailHelp" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Số điện thoại</label>
                        <input class="form-control" name="SoDienThoai" placeholder="Số điện thoại" pattern="[0-9].{1,13}" required>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit" value="Đăng ký" />
                    <br />
                    <div class="text-center">
                        <a class="d-block small mt-3" href="/User/DangNhap">Dăng nhập</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
